.invisible-at-first{
    display: none;
}

.b{
    float: right;
    background-color: #255625;
}

thead{
    text-align: center;
    font-weight: bold ;
}
.ssyl{
    text-align: center;
}
